<template>
  <div class="dashboard-shop">
    <h1 class="title">ショップの登録</h1>
    <div class="container">
      <div class="notification is-primary" v-if="status == 'success'">{{ apiResponse }}</div>
      <div class="notification is-danger" v-if="status == 'error'">{{ apiResponse }}</div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">LINEビーコンID</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <input v-model="hwid" class="input" type="text" placeholder="LINEビーコンのID">
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">名前</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <input v-model="name" class="input" type="text" placeholder="ショップの名称">
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">URL</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <input v-model="url" class="input" type="text" placeholder="ショップに関するURL">
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">説明文</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <textarea v-model="description" class="textarea" placeholder="ショップについての説明"></textarea>
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">ショップ画像</label>
        </div>
        <div class="field-body">
          <p class="file">
            <label class="file-label">
              <input class="file-input" type="file" v-on:change="onFileChange">
              <span class="file-cta">
                <span class="file-label">ファイルを選択</span>
              </span>
            </label>
          </p>
        </div>
      </div>
      <img class="has-text-centered" v-show="uploadedImage" :src="uploadedImage">
      <div class="field">
        <div class="control has-text-centered">
          <button class="button is-primary" v-on:click="postShopParams">決定</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'DashboardShop',
  data() {
    return {
      hwid: '',
      name: '',
      url: '',
      description: '',
      image: '',
      uploadedImage: '',
      status: '',
      apiResponse: '',
    };
  },
  methods: {
    onFileChange(e) {
      const files = e.target.files || e.dataTransfer.files;
      this.createImage(files[0]);
    },
    createImage(file) {
      const reader = new FileReader();
      reader.onload = (e) => {
        this.uploadedImage = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    async postShopParams() {
      const shopParams = {
        shop: {
          hwid: this.hwid,
          name: this.name,
          description: this.description,
        },
      };
      if (this.url) { shopParams.shop.url = this.url; }
      if (this.uploadedImage) { shopParams.shop.image_contents = this.uploadedImage; }
      try {
        await axios.post('https://picon-server.herokuapp.com/api/shops.json', shopParams, {
          headers: {
            'Content-Type': 'application/json',
          },
        });
        this.apiResponse = 'ショップの情報を登録しました';
        this.status = 'success';
      } catch (e) {
        this.apiResponse = e.response.data.error.messages.join(', ');
        this.status = 'error';
      }
    },
  },
};
</script>

<style scoped lang="scss">
.dashboard-shop {
  padding: 30px;
}
</style>
