<template>
  <div class="dashboard">
    <DashboardHeader/>
    <DashboardMenu/>
    <div class="dashboard__contents">
      <router-view/>
    </div>
  </div>
</template>

<script>
import DashboardHeader from './DashboardHeader';
import DashboardMenu from './DashboardMenu';
import DashboardShop from './DashboardShop';

export default {
  components: {
    DashboardHeader,
    DashboardMenu,
    DashboardShop,
  },

  name: 'Dashboard',
  data() {
    return {
    };
  },
};
</script>

<style scoped lang="scss">
  .dashboard {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;

    &__contents {
      width: calc(100% - 200px);
    }
  }
</style>
