<template>
  <div class="dashboard-menu">
    <a class="dashboard-menu__button" href="/dashboard/shop/new">
      <div class="dashboard-menu__button-text">ショップの登録</div>
    </a>
  </div>
</template>

<script>
export default {
  name: 'DashboardMenu',
  data() {
    return {
      hoge: 'DashboardMenu',
    };
  },
};
</script>

<style scoped lang="scss">
@import "../../node_modules/bulma/bulma.sass";
.dashboard-menu {
  width: 200px;
  height: calc(100% - 52px);
  border-right: solid 1px $grey-lighter;

  &__button-text {
    width: 100%;
    height: 50px;
    padding: 0 20px;
  }

  &__button-text {
    width: 160px;
    margin: 0 20px;
    line-height: 50px;
    border-bottom: solid 1px $grey-lighter;
  }
}
</style>
