<template>
  <nav class="navbar dashboard-header">
    <a href="/dashboard">
      <div class="navbar-brand">
        <img class="dashboard-header__logo" src="../assets/logo.png" alt="logo">
      </div>
    </a>
  </nav>
</template>

<script>
export default {
  name: 'dashboard-header',
  data() {
    return {
      hoge: 'DashboardHeader',
    };
  },
};
</script>

<style scoped lang="scss">
@import "../../node_modules/bulma/bulma.sass";
.dashboard-header {
  width: 100%;
  border-bottom: solid 1px $grey-lighter;

  &__logo {
    height: 60px;
    margin: 2px 47px;
  }
}
</style>
